
@{
    ViewData["Title"] = "index";
}

<h1>Task Manager</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <partial name="_TasksTable" />
        </div>
        <div class="col">
            <partial name="_TasksForm" />
        </div>
    </div>
</div>